### Imports

In [7]:
import pandas as pd
import numpy as np

### Read Data

In [32]:
TAXI_DATA = "data/green_tripdata_2019-09.csv"
ZONES = "data/taxi+_zone_lookup.csv"

In [9]:
df = pd.read_csv(TAXI_DATA)

/var/folders/q0/tlxqcyzj4bl5486b7j7s6ymw0000gn/T/ipykernel_61038/1008615804.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TAXI_DATA)

In [10]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [89]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

### Transform to datetime

In [11]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_datetime"] = pd.to_datetime(df["lpep_dropoff_datetime"])

### Question 3 

** *How many taxi trips were totally made on September 18th 2019?* **

In [22]:
new_df= df.loc[(df["lpep_pickup_datetime"] >= pd.to_datetime("2019-09-18")) & (df["lpep_dropoff_datetime"] < pd.to_datetime("2019-09-19"))]

In [14]:
print(f"The number of taxi trips were totally made on September 18th 2019 is : {new_df_1.shape[0]}")

The number of taxi trips were totally made on September 18th 2019 is : 15612

### Question 4

** *Which was the pick up day with the largest trip distance Use the pick up time for your calculations.* **

In [15]:
days = [
    "2019-09-18",
    "2019-09-16",
    "2019-09-26",
    "2019-09-21"
]

In [140]:
for day in days:
    this_day = pd.to_datetime(day)
    next_day = this_day + pd.DateOffset(days=1)
    new_df_1 = df.loc[(df["lpep_pickup_datetime"] >= this_day) & (df["lpep_dropoff_datetime"] <  next_day)]
    trip_distance_per_day = new_df_1.loc[new_df_1["trip_distance"].idxmax()]["trip_distance"]
    print(f"day : {day}, trip distance : {trip_distance_per_day}")

day : 2019-09-18, trip distance : 70.28
day : 2019-09-16, trip distance : 114.3
day : 2019-09-26, trip distance : 35.62
day : 2019-09-21, trip distance : 135.53

### Question 5

** *Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?* **

In [59]:
df_2 = pd.read_csv(ZONES)
df_2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [51]:
newbee = df[df['lpep_pickup_datetime'].dt.date == pd.to_datetime('2019-09-18').date()]

In [61]:
result = pd.merge(newbee, df_2, left_on="PULocationID", right_on="LocationID")

In [66]:
res = result[["PULocationID", "total_amount", "Borough"]]

In [74]:
grouped_df = result.groupby("Borough")["total_amount"].sum()

In [77]:
print("The top 3 pick up Borough with a total amount > 50000")
grouped_df[grouped_df>50000]

The top 3 pick up Borough with a total amount > 50000

Borough
Brooklyn     96333.24
Manhattan    92271.30
Queens       78671.71
Name: total_amount, dtype: float64

### Question 6

** *For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip? We want the name of the zone, not the id.* **

In [113]:
new_df_2 = df[(df['lpep_pickup_datetime'].dt.month == 9) & (df['lpep_pickup_datetime'].dt.year == 2019)]
result = pd.merge(new_df_2, df_2, left_on="PULocationID", right_on="LocationID")

In [129]:
new_df_2.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [133]:
data_astoria = result[result["Zone"] == "Astoria"][["PULocationID", "DOLocationID", "tip_amount", "Zone"]]
data_astoria.loc[data_astoria["tip_amount"].idxmax()]

PULocationID          7
DOLocationID        132
tip_amount        62.31
Zone            Astoria
Name: 98163, dtype: object

In [134]:
df_2.query("LocationID == 132")

     LocationID Borough         Zone service_zone
131         132  Queens  JFK Airport     Airports